
@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'blockquote';
@import 'code';
@import 'technology';

@import '../../shared/fontawesome/scss/fontawesome';

$fa-font-path: '../../shared/fontawesome/webfonts';

@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans&family=Roboto&display=swap');


body {
    /*background-color: $background-color;*/
    width: 1500px;
    padding-left: 10%;
    /*background: linear-gradient(160deg, $background-color 0%, $background-color 50%, $background-alternative-color 50%, $background-alternative-color 100%);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-color: $background-alternative-color;*/


    background-image: linear-gradient(120deg, $background-color 0%, $background-alternative-color 100%);
}

* {
    font-family: 'Roboto' sans-serif;
    /*color: $font-color;   */
}

.site-header {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: $header-background;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: $link-color;
}


.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $font-color;
    padding-left: 20%;
    font-size: large;
}

.footer a{
    text-decoration: none;
    color: $background-dark;
}

.nav a {
    color: $link-color;
}

.nav a .nav-toggle {
    color: $link-color;
}

h1, h2, h4, h5, h6 {
    font-family: 'Agbalumo', Agbalumo;
    font-size: large;
}

h3 {
    font-family: 'Agbalumo', Agbalumo;
    font-size: small;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

a {
    color: $amazing-color;
}

head {
    background-color: $accent-color;
}

img, embed, object, video {
    max-width: 100%;
}

img:not([alt]) {
    outline: 4px red dashed !important;
}

.gallery {
    display: grid;
    max-width: auto;
    grid-template-columns: 200px 300px 200px;
    gap: 2px;
    align-content:inherit;
}

.gallery2 {
    display: grid;
    max-width: auto;
    grid-template-columns: 200px 100px 300px;
    gap: 2px;
}


.excel {
    width: 100%;
    height: 650px;
}


.main {
    width: auto;
    background-color: rgb($text-background, 0.6);
    padding: 5%;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .child {
        width: 80%;
        padding: $magic-number;
        margin: calc($magic-number / 2);
        background-color: $amazing-color;
    }

    .child:first-child {
        margin-top: 0;
    }

    .child:last-child {
        margin-bottom: 0;
    }
}
