$font-color: #270007;
$font-alternative-color: #5C0014;
$accent-color: #FC8C79;
$background-color: #d4fc79;
$background-alternative-color: #79FC88;
$text-background: #79A7FC;
$header-background: #4347D2;
$link-color: #F4FFDC;

$amazing-color: #652570;

$magic-number: 1.5em;
/* darkmode */

$font-dark: #e0e0e0;
$font-alternative-dark: #BB86FC;
$accent-dark: #252525;
$background-dark: #121212; 
$background-alternative-dark: #413242;
$text-backg-dark: #6b6b6b;
$link-dark: #C9C8C8;



/*
$font-dark: #000000;
$font-alternative-dark: #754241;
$accent-dark: #6B9777;
$background-dark: #423232; 
$background-alternative-dark: #324237;
$text-backg-dark: #C26969;

$font-dark: #000000;
$font-alternative-dark: #754241;
$accent-dark: #DB2621;
$background-dark: #423232; 
$background-alternative-dark: #332C2B;
$text-backg-dark: #756363;
*/