$font-color: #270007;
$font-alternative-color: #5C0014;
$accent-color: #AA7D39;
$background-color: #257059;
$background-alternative-color: #00412D;
$text-background: #FFEAAF;

$amazing-color: #024707;

$magic-number: 1.5em;
/* darkmode */

$font-dark: #000000;
$font-alternative-dark: #754241;
$accent-dark: #DB2621;
$background-dark: #423232; 
$background-alternative-dark: #332C2B;
$text-backg-dark: #756363;
