$font-color: #292929;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #c9c9c9;
$background-alternative-color: #3d5a80;
$text-background: #b3b3b3;

$amazing-color: rgb(173, 216, 230);

$magic-number: 1.5em;
/* darkmode */

$font-dark: #852323;
$font-alternative-dark: #f06969;
$accent-dark: #ff3300;
$background-dark: #222222; 
$background-alternative-dark: #3d5a80;
$text-backg-dark: #696969;
